v2.00/OnlineInvoice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Invoice"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="BaseTypes.xsd" />

  <xs:element name="OnlineInvoices" nillable="true" type="ArrayOfOnlineInvoice" />

  <xs:complexType name="ArrayOfOnlineInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OnlineInvoice" nillable="true" type="OnlineInvoice" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="OnlineInvoice" type="OnlineInvoice" />
  <xs:complexType name="OnlineInvoice">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />

      <xs:element minOccurs="0" maxOccurs="1" name="OnlineInvoiceUrl" type="xs:anyURI" />
    </xs:all>
  </xs:complexType>

</xs:schema>
